{% extends 'exercise/base.html' %}
{% block content %}
<style>
#good{
    text-align:center;
    background-color:#AAA3B4;
}
p{
    font-size:17px;

}
</style>
<body id="good">
<h1>Health Facts You need!!!</h1>
<h4>A wise man said "The foundation of success in life is good health: that is the substratum fortune; it is also the basis of happiness.</h4>
<h4> A person cannot accumulate a fortune very well when he is sick." </h4>
<h4>This man was called P. T. Barnum</h4>
<div class="container">
<h3>1:Basic Nutrition</h3>
<p>As a person you consume energy I mean you have work and even school dont you forget kids who are always on the go .</p>
<p>All this requires energy and lots of it.What food is right or just perfect to replenish your lost strength??</p>

<p>THe image below will break it down for you</p>
<img src="https://i.ndtvimg.com/i/2015-09/balanced-diet_625x578_71441628210.jpg" alt="food" width="400px" height="400px">
<p>I guess you are wondering about breakfast??Being the most important meal of the day of course you need it</p>
<p>PSSSTT!!!Check this link for advice on how to break down your food portions...</p>
<h4><a href="https://www.nhs.uk/live-well/eat-well/what-are-reference-intakes-on-food-labels/" >Click here</a></h4><br>
<hr>
<p>Break-Fast needs a good stable meal of all fod groups!</p>
<h4>The perfect Breakfast</h4>
<img src="https://i.pinimg.com/originals/dd/9d/cb/dd9dcbd72a2bf60cd54245cd4f842c7d.png" alt="food" width="400px" height="500px">    
<p>Above you can see a recommended 20 foods you can eat as breakfast.They are a healthier approach to all other foods  </p>
<h3>Lets break down the some foods you are not to eat in the morning</h3>
<div class="row">
<div class="col-md-4" style="margin-left:360px;">
<div class="for">
<h2>5 unhealthy breakfast foods</h2><br>
<p>1: Breakfast Cereals,reason being  cereals are highly processed and contain only a small amount of whole grains. Also, nutrients are artificially added in a process called fortification.</p>
<p>2:Pancakes and Waffles,pancakes and waffles are typically topped with pancake syrup, which contains high-fructose corn syrup.</p>
<p>3:Toast With Margarine,Toast with margarine raises your blood sugar and insulin levels, causes rebound hunger and increases your risk of weight gain and heart disease.</p>
<p>4:Muffins,Muffins are usually high in refined flour, refined vegetable oils and sugar, all of which are very unhealthy.</p>
<p>5: Fruit Juice(Processed juice):Some fruit juices on the market actually contain very little juice and are sweetened with sugar or high-fructose corn syrup.Which is bad for the body.</p>
<p>Click below for more</p>
<a href="https://www.healthline.com/nutrition/10-worst-foods-in-the-morning#section1"><b>Healthline</b></a>
</div>
</div>
</div>
<hr>
<h2>2:The perfect diet food</h2>
<h3>Say you going on a diet and dont know what is the right food to eat at this time </h3>
<h4>Check what is best to eat:<a href="https://www.healthline.com/nutrition/20-most-weight-loss-friendly-foods">Diet 101</a></h4>
<p>They are many diffrent foods you can eat that can help but the most important thing to remember is</p>
<p>In your diet plan you have to include water.Why??Because water is part of you literally your body is 70% water!!</p>
<p>Without water in your system you'll be in big trouble suffering from dehydration and You might suffer brain damage</p>
<img src="https://qph.fs.quoracdn.net/main-qimg-981acce0e1700fe4e0702117b109904d.webp" alt="water" width="400px" height="500px">
<h3>Below is a breakdown on how much water you need in the body:</h3>
<img src="https://secureservercdn.net/198.71.233.87/ihe.c9b.myftpupload.com/wp-content/uploads/2019/01/2019-2-2-The-Importance-of-Water-4.jpg" width="400px" height="400px" alt="water">
<hr>
<h3>Remember:"To keep the body in good health is a duty otherwise we shall not be able to keep our mind strong and clear."-Buddha</h3><br>
<h3>Check out the following videos to help in guiding you in terms of Nutrition and food</h3>
<div class="row">
<div class="col-md-4" style="margin-left:100px;">
<iframe width="410" height="340" src="https://www.youtube.com/embed/qxXGe1h5MpU">
</iframe>
</div>
<div class="col-md-4" style="margin-left:100px;">
<iframe width="410" height="340" src="https://www.youtube.com/embed/pVLda0pFv5g ">
</iframe><br>
</div>
</div>
<hr>
<br><br>
</div>
</body>


{% endblock %}



