{% extends 'exercise/base.html' %}
{% block content %}
<style>
body{ 
    text-align:center;

}
p{
    font-size:16px;

}
</style>

<body>
<h1>WHY WORK OUT???</h1><br>
<p>Every day brings with it a new scientific report on the benefits of exercise. Unfortunately, the reports don’t always coincide with each other.</p>
<p>Some studies show positive effects, others show negative effects, and some don’t permit any conclusions at all.</p>
<p>There lots of reasons why working out would be the last thing on any ones mind</p><br><br>
<div class="container">
<div class="row">
<div class="col-md-4" style="margin-left:70px;">
<div class="card">
<h2>Benefits of a work out!!</h2><br>
<p>1:Help you control your weight. ...</p>
<p>2:Reduce your risk of heart diseases. ...</p>
<p>3:Help your body manage blood sugar and insulin levels. ...</p>
<p>4:Help you quit smoking. ...</p>
<p>5:Improve your mental health and mood. ...</p>
<p>6:Help keep your thinking, learning, and judgment skills sharp as you age.</p><br>
<p>Click below for more</p>
<a href="https://medlineplus.gov/"><b>MedlinePlus</b></a>
</div>
</div>

<div class="col-md-4" style="margin-left:250px;">
<div class="card">
<h2>Why people hate working out!!</h2><br>
<p>1.You’re Working Out for Weight Loss</p>
<p>2.You’re Going Overboard</p>
<p>3.You Feel Bad About Your Body</p>
<p>4.You Chose the Wrong Workout</p>
<p>5.You’re in Pain</p>
<p>6.You Think It Costs Too Much</p><br>

<p>Click below for more</p>
<a href="https://www.webmd.com/"><b>Hate to Exercise?</b></a>
</div>
<div>
</div>
</div>

</body>


{% endblock %}
