{% extends 'exercise/base.html' %}
{% block content %}
<style>
#work{ 
    text-align:center;
    background-color:#AAA3B4;
}
p{
    font-size:17px;

}
.card{
    width:300px;height:270px;
}
</style>

<body id="work">
<h1>WHY WORK OUT???</h1><br>
<p>Every day brings with it a new scientific report on the benefits of exercise. Unfortunately, the reports don’t always coincide with each other.</p>
<p>Some studies show positive effects, others show negative effects, and some don’t permit any conclusions at all.</p>
<p>There lots of reasons why working out would be the last thing on any ones mind</p><br><br>
<div class="container">
<div class="row">
<div class="col-md-4" style="margin-left:70px;">
<div class="for">
<h2>Benefits of a work out!!</h2><br>
<p>1:Help you control your weight. ...</p>
<p>2:Reduce your risk of heart diseases. ...</p>
<p>3:Help your body manage blood sugar and insulin levels. ...</p>
<p>4:Help you quit smoking. ...</p>
<p>5:Improve your mental health and mood. ...</p>
<p>6:Help keep your thinking, learning, and judgment skills sharp as you age.</p><br>
<p>Click below for more</p>
<a href="https://medlineplus.gov/"><b>MedlinePlus</b></a>
</div>
</div>

<div class="col-md-4" style="margin-left:250px;">
<div class="for">
<h2>Why people hate working out!!</h2><br>
<p>1.You’re Working Out for Weight Loss</p>
<p>2.You’re Going Overboard</p>
<p>3.You Feel Bad About Your Body</p>
<p>4.You Chose the Wrong Workout</p>
<p>5.You’re in Pain</p>
<p>6.You Think It Costs Too Much</p><br>

<p>Click below for more</p>
<a href="https://www.webmd.com/"><b>Hate to Exercise?</b></a>
</div>
<div>
</div><br><br>
</div>

<div class="container">
<hr>
<h1>Lets get some works out in</h1>
<h2>Check out the following you tube links to a home work out!!!</h2>
<h2>without any equipment!!!</h2><br>
<div class="row">
<div class="col-md-4" style="margin-left:100px;">
<iframe width="410" height="340" src="https://www.youtube.com/embed/azF7RsPXB2k">
</iframe>
</div>
<div class="col-md-4" style="margin-left:100px;">
<iframe width="410" height="340" src="https://www.youtube.com/embed/gIdAPUA3GY4">
</iframe><br>
</div><br><br>
</div>
<hr>
<h3>They seem easy enough huh??As you can see working out is not all about equipment...</h3>
<h4>It may be easy but what matters is how to brake down your day to workout</h4>
<p>Take the below scheme for an example....</p>
<img src="https://i.pinimg.com/originals/9c/72/38/9c72384607cfaa053cc747c229b99fd1.jpg" width="400px" height="400px" alt="workout plan">
<h4>I mean WOW!!! for one week all that and its for beginners.....Stop worrying and take a closer look <h4>
<h4>You will notice its broken down specifically for each day and complete work out takes only 40 minutes!!!</h4>
<h4>THis shows that forty minutes each day of week for three months can tranform you to a better lifestyle</h4><br><br>
</div>
<div class="container-fluid">
<h1>Now its time you make your own work out scheme</h1>
<h2>Below will be a table built around the body and each of it's workout</h2>
<h4>First things first... check this file for how to warm up:<a href="https://www.quickanddirtytips.com/">Warming UP</a></h4><br><br>
<hr>
<h3><b>Body work-out guide..</b></h3>

<table style="margin-left:200px;" >
            <tr>
                <th>upperbody set1:</th>
                <th>lowerbody set2:</th>
                <th>body-core set3:</th>
            </tr>
        <tr>
            <td>
            <center>
            <img class="man" src="https://previews.123rf.com/images/artinspiring/artinspiring1903/artinspiring190300192/124762338-man-doing-crunches-in-the-gym-belly-burn-workout-guy-make-exercise-abs-workout-healthy-and-active-li.jpg" alt="crunches" width="230px" height="130px">
            <p id="what"><b>crunches(AB'S)</b></p>
            <p id="what">2 sets of ten</p>
            <p id="what">Morning set/evening set</p>

            </center>   
            </td>
        <td>
            <center>
                <img class="man" src="https://miro.medium.com/max/470/1*_6-iqu13SHAWsn0gMKIJnw.png" alt="image of ahouse" width="230px" height="130px">
                <p id="what"><b>Squats(specified for thighs)</b></p>
                <p id="what">3 sets of 10</p>
                <p id="what">morning set</p>

            </center>    
        </td>
        <td>
            <center>
                <img class="man" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/766/images/1-push-up-1492274161.jpg?resize=480:*" alt="image of ahouse" width="220px" height="130px">
                <p id="what"><b>Press ups(works on body core)</b></p>
                <p id="what">2 sets of 15</p>
                <p id="what">Morning set/evening set</p>

            </center>
        </td>
        </tr>
        <tr>
        <td>
            <center>
                <img class="man" src="https://www.weightlose.us/images%2077%20shoulder/IMG-20190419-WA0011.jpg" alt="image of ahouse" width="220px" height="130px">
                <p id="what"><b>Rhomboid pulls(back to chest pulls)</b></p>
                <p id="what">2 sets of ten</p>
                <p id="what">Morning set/evening set</p>

            </center>
        </td>       
        <td>
            <center>
                <img class="man" src="https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/_main2_sidetosidehop.jpg" alt="image of ahouse" width="220px" height="130px">
                <p id="what"><b>Side hopes</b></p>
                <p id="what">3 sets of ten</p>
                <p id="what">Morning set/evening set</p>
                </center>
        </td>
        <td>
            <center>
                <img class="man" src="https://d2z0k43lzfi12d.cloudfront.net/blog/vcdn295/wp-content/uploads/2018/04/thumbnail_8-tips-beginner_1200x800-1024x683.jpg" alt="image of ahouse" width="220px" height="130px">
                <p id="what"><b>Run/jog(works on your stamina )</b></p>
                <p id="what">atleast 20 min run</p>
                <p id="what">Morning set/evening set</p>

            </center>
        </td>
        </tr>
        <tr>
        <td>
            <center>
                <img class="man" src="https://image.shutterstock.com/image-vector/woman-doing-russian-twist-exercise-260nw-1316827436.jpg" alt="image of ahouse" width="220px" height="130px">
                <p id="what"><b>Russian twist(works on your core and ab's)</b></p>
                <p id="what">3 sets of 10</p>
                <p id="what">Morning set</p>

            </center>
        </td>
        <td>
            <center>
                <img class="man" src="https://hips.hearstapps.com/womenshealth-production.s3.amazonaws.com/images/2189/fire_hydrant_kickouts__medium_4x3.jpg" alt="image of ahouse" width="220px" height="130px">
                <p id="what"><b>Fire hydrant kicks(works on core and thighs)</b></p>
                <p id="what">2 sets of 10</p>
                <p id="what">evening set</p>

            </center>
        </td>
        <td>
            <center>
                <img class="man" src="https://www.chatelaine.com/wp-content/uploads/2014/05/PlankChallenge_DoDiet-660x512.jpg" alt="image of ahouse" width="220px" height="130px">
                <p id="what"><b>Plank(works on full body core)</b></p>
                <p id="what"> atleast a 60 sec plank</p>
                <p id="what">Morning set/evening set</p>

            </center>
        </td>
        </tr>
        </table>
<h4>Check this out for a full guide and more on what the exercises:<a href="https://www.youtube.com/watch?v=hnf9VTBc_Dk" >Click here.</a></h4>
<hr>
</div>
<h3>I feel its time you made a set of your own...</h3><br><br>

<h3><a href="{% url 'workplan' %}" class="btn btn-outline-success"><b>Plan</b></a></h3>

<hr><br><br>

<div class="row">
{% for workout in workouts %}
<div class="col-md-4"style="margin-top:0px;">
<div class="card" style="background-color:#6F7F8C;color:black;">
  <div class="card-body">
  <a href="/workout/{{workout.id}}">
    <h3  style="color:black;"class="card-title">{{workout.day}}</h3>
    <hr style="color:transparent;">
    <h5 style="color:black;" class="card-subtitle mb-2 ">Workout:{{workout.workout_name}}</h5>
    <p style="color:black;" class="card-text">Body:{{workout.body_section}}</p>
    <p  style="color:black;"class="card-text">No.of sets:{{workout.number_of_sets}}</p>
    <a  style="color:white;"href="/delete/{{workout.id}}" class="btn btn-danger btn-sm">Delete</a>
    <hr style="color:transparent;">
    <p style="color:black;">{{workout.date_created}}</p>
  </div>
</div>
<hr>
</div>
</div>
{% endfor %}
</div>


</body>


{% endblock %}
